body{    
    margin:0;
    padding:0;
    font-size:16px;
}
.header{
    display:flex;   
    position:relative;
    width:100%;
    height:130px;
    
}
.head{
    background-image:url("../assets/img/slider-photo.png");
    background-color: rgba(0,0,0,0.5);
    background-size:cover;
    background-blend-mode:multiply;
    height:745px;
}    
.logo{
    flex-grow: 1;
    padding-left: 12%;
    height: 130px;
    position:relative;
    top:25%;
}
.menu{
    flex-grow: 7;
    position:relative;
    font-family: 'Montserrat';
    font-weight: 300;/*Montserrat Light*/
    text-align: center;
    color:#fff;
    font-size: 0.875em; 
    &-ul{
        position:relative;        
        top:37%;
        margin: 0;
        padding: 0;
    }
    &-ul>li{
        display: inline;
        color: #fff;
        padding: 8px ;
        margin: 6px;
    }
    &-ul>li:hover{
        color: #998675;
    }
    a{
        color:#fff;
        font-size: 0.875em;
        text-decoration:none;
    }
    &-icon{
        width:1em;
        height:auto;
    }
}
.slide-block{
    position:relative;
    left:5%;
    width:90%;
    &__text{
        color:#fff;        
        position:relative;
        left:22.5%;
        width:55%;
        display: flex;
        flex-flow: column;
        align-items: flex-start;
        &-1{
            position: relative;
            align-self: center;
            font-size:2.25em;
            font-family: 'Raleway';
            font-weight: 500;
        }
        &-2{
            position: relative;
            top:-0.6em;
            align-self: center;
            font-size:3.25em;
            font-family: 'Raleway';
            font-weight: 800;
        }
        &-3{
            position: relative;
            top:-2.5em;
            align-self: center;
            text-align: center;
            font-size:1em;
            font-family: 'Montserrat';
            font-weight: 300;         
        }
        &-button{
            width:10em;
            height:3em;
            align-self: center;
            border-radius: 1em;
            position: relative;
            top:10%;
            &-0{
                width:10em;
                height:3em;
                background-color: #998675;
                align-self: center;
                color:#FFF;
                text-transform: uppercase;
                font-size: 1em;
                font-family: 'Raleway';
                font-weight: 800;
                border-radius: 5px;
                border-bottom: #736357 3px solid;
                border-top:none;
                border-right:none;
                border-left:none;

            }
        }
    }
}
#carouselControls-1{
    height:230px;
}
.carousel-indicators{
    position:relative;
    top:70%;
}
.carousel{
    position: relative;
    top: 15%;
}
.service{
    height:auto;
    width:70%;
    position:relative;
    left:15%;
    margin-bottom:80px;
    &-block{
        display:flex;
        flex-direction: column;
        &__icon{
            align-self: center;
            width:50px;
            height:50px;
            background-size: cover;
            margin-bottom: 20px;
            margin-top:70px;
            &-1{
                background:url("../assets/img/pencil.svg");
                height:50px;
            }
            &-2{
                background:url("../assets/img/layers.svg");
                height:50px;
            }
            &-3{
                background:url("../assets/img/gear.svg");
                background-size: cover;
                height:50px;}
            &-4{
                background:url("../assets/img/folder.svg");
                background-size: cover;
                height:50px;}
        }
        &-text{
            align-self: center;
            &__head{
                font-family: 'Raleway';
                font-weight: 600;
                font-size:1.375em;
                color:#555;
                text-align: center;
            }
            &__text{
                font-family: 'Montserrat';
                font-weight: 300;
                font-size:1em;
                color:#8c8c8c;
                text-align: center;
            }            
        }
        &__line{
            align-self: center;
            justify-self: end;
            width: 30%;
            border-width:3px;
            background-color: #c7b29925;
        }
    }
    &-block:hover &-block__icon-1{
        background:url("../assets/img/pencil-hover.svg");
    }
    &-block:hover &-block__icon-2{
        background:url("../assets/img/layers-hover.svg");
    }
    &-block:hover &-block__icon-3{
        background:url("../assets/img/gear-hover.svg");
        background-size: cover;
    }
    &-block:hover &-block__icon-4{
        background:url("../assets/img/folder-hover.svg");
        background-size: cover;
    }
    &-block:hover &-block-text__head{
        color:#c7b299;
    }
    &-block:hover &-block__line{
        background-color: #c7b299;
    }
}
.ideas{
    background-color: #fbfaf8;
    height:800px;
    padding-top:80px;
    &-text{
        position:relative;
        left:15%;
        width:70%;
        display: flex;
        flex-direction: column;
        &__head{
            font-family: 'Raleway';
            font-weight: 600;
            font-size:1.875em;
            color:#555;
            text-align: center;
        }
        &__text{
            font-family: 'Montserrat';
            font-weight: 300;
            font-size:1em;
            color:#8c8c8c;
            text-align: center;            
        }    
    }
    &-block{
        position:relative;
        left:10%;
        width:80%;
        height:83%;
        background: url("../assets/img/browser-1.png");
        background-size: contain;
        background-position: bottom;
        background-repeat: no-repeat;
    }
}
.islide{
    &-block{
        position: relative;
        width:100%;
        &__image{
            width:100%;
            height:auto;
        }
    }
}
.carousel-inner-2{
    top: -10% ;
    width:68% ;
    left:16% ;
}
.theme{
    position:relative;
    width:100%;
    height:auto;
    background: linear-gradient(to right, #211b19 0%,#4e3427 100%);
    &-block{
        width:80%;
        height:auto;
        position:relative;
        left:10%;
        &__text{
            align-self: center;
            &-1{
                font-size: 1.5em;
                font-weight: 500;
                font-family: 'Raleway';
                color:#fff;
                margin-top:1em;
                margin-bottom:0;
            }
            &-1>span{
                color:#736357;
            }
            &-2{font-size: 1.0em;
                font-weight: 300;
                font-family: 'Montserrat';
                color:rgba(255, 255, 255, 0.664);
            }
        }
        &__button{
            width:10em;
            height:3em;
            align-self: center;
            border-radius: 1em;
            position: relative;
            top:10%;
            &-purchase{
                width:10em;
                height:3em;
                background-color: #998675;
                color:#FFF;
                text-transform: uppercase;
                font-size: 1em;
                font-family: 'Raleway';
                font-weight: 800;
                border-radius: 5px;
                border-bottom: #736357 3px solid;
                border-top:none;
                border-right:none;
                border-left:none;
            }
        }
    }
}
@mixin back($path){
    position:relative;
    z-index:-5;
    width:100%;
    background: url($path) no-repeat;
    background-size: contain; 

}
.projects{
    position: relative;
    left:10%;
    width:80%;
    padding-top:80px;
    &-text{
        position:relative;
        left:15%;
        width:70%;
        display: flex;
        flex-direction: column;  
        &__head{
            @extend .ideas-text__head;
            text-transform: capitalize;
        }
        &__text{
            @extend .ideas-text__text;     
        }
    }
    &-buttons{
        margin-bottom:6%;
        text-align:center;
        &__button{
            text-transform: capitalize;
            width:auto;
            height:2em;
            font-size:1.125em;
            font-family: 'Raleway';
            font-weight: 500;
            color:#555;
            margin-top:8px;
            background:#fff;
            border:solid 1px #55555523;
            text-align: center;
        }
        &__button:hover{
            background-color: #998675;
            color:#fff;
        }
    }
    &-block{
        height:auto;
        &__image{
            position:relative;
            z-index:-10;
            width:100%;
            visibility:hidden;
            &-1{
                @include back("../assets/img/project1.png");
            }
            &-2{
                @include back("../assets/img/project2.png");
            }
            &-3{                
                @include back("../assets/img/project3.png");
            } 
            &-4{                
                @include back("../assets/img/project4.png");
            }
            &-5{                
                @include back("../assets/img/project5.png");
            }
            &-6{                
                @include back("../assets/img/project6.png");
            }   
        }
        
        &__text{
            background-color: #fbfaf8;
            &-1{
                margin-left:5%;
                padding-top:5%;
                font-size:1.25em;
                font-family: 'Raleway';
                font-weight: 500; 
                color:#c7b299;              
            }          
            &-2{
                margin-left:5%;
                margin-top:-5%;
                padding-bottom:5%;
                font-size:0.875em;
                font-family: 'Montserrat';
                font-weight: 300;
                color:#d1d1d1;
            }
        }
        &__block:hover{
            background: url("../assets/img/link.svg") no-repeat 40% 35%, url("../assets/img/search.svg") no-repeat 60% 35%;
            background-size: 10% auto,10% auto;
        }
        &__block:hover &__image{
            &-1,&-2,&-3,&-4,&-5,&-6{
                background-color: rgba(0,0,0,0.5);
                background-blend-mode: multiply;
            }         
        }
        &__block:hover &__text{
            background-color: #362f2d;
        }
        &__block:hover &__text-1{
            color:#fff;
        }
        &__block:hover &__text-2{
            color:#c7b299;
        }     
    }
    &__button{
        @extend .slide-block__text-button;
        width:auto;
        margin-top:5%;
        margin-bottom:5%;
        text-align: center;
        &-load{
            @extend .slide-block__text-button-0;
        }
    }
}
.video{
    width:100%;
    height:560px;
    background: url("../assets/img/video.png") no-repeat;
    background-size: cover;
    &-block{
        position:relative;
        top:25%;
        width:40%;
        margin-left:30%;
        display:flex;
        flex-direction: column;
        height:auto;
        &__play{
            width:14%;
            height:auto;
            align-self:center;          
        }
        &__text-1{
            @extend .projects-text__head;
            margin-top:5%;
            font-weight:500;
            color:#FFF;
        }
        &__text-2{
            @extend .projects-text__text;
            color:#fff;
        }
        &__text-time{
            font-size: 1em;
            font-family: 'Montserrat';
            font-weight: 300;
            color:#c7b299;
            align-self: center;
        }
    }
}
.mobile{
    width:100%;
    height:auto;
    padding-top:5%;
    &-block{
        width:80%;
        margin-left:10%;
        height:auto;
        &__image{
            background: url("../assets/img/iPhone.png") no-repeat;
            background-size: contain;
            background-position: right;
            height:400px;
            margin-left:-5%;
        }
        &__text{
            padding-top: 2.5%;
            &-head{
                font-family: 'Raleway';
                font-weight: 600;
                color:#555;
                font-size: 1.875em;
            }
            &-text{
                font-family: 'Montserrat';
                font-weight: 300;
                font-size: 0.9375em;
                color:#8c8c8c;
            }
            &-list{
                margin-top:7%;
                &__icon{
                    width: 20%;
                    height: auto;
                    padding-left: 10%;
                    padding-right: 6%;
                }
                &__text{
                    @extend .mobile-block__text-text;
                    padding:1.5% 0;
                    font-size: 0.875em;
                }
            }
        }
    }
}
.counters{
    width:100%;
    height:auto;
    background: linear-gradient(to right, #211b19 0%,#4e3427 100%);
    &-blocks{
        width:80%;
        margin-left:10%;
        height:auto;
        &-block{
            height:auto;
            display: flex;
            flex-direction: column;
            margin-bottom:5%;
            &__icon{
                align-self: center;
                width:50px;
                height:50px;
                background-size: cover;
                margin-bottom:15px;
                margin-top:50px;
                &-1{
                    background:url("../assets/img/clients.svg");
                    background-size: cover;
                    height:50px;
                }
                &-2{
                    background:url("../assets/img/coffee.svg") no-repeat;
                    background-size: cover;
                    height:50px;
                }
                &-3{
                    background:url("../assets/img/posts.svg") no-repeat;
                    background-size: cover;
                    height:50px;
                }
                &-4{
                    background:url("../assets/img/heart.svg") no-repeat;
                    background-size: cover;
                    height:50px;
                }
                &-5{
                    background:url("../assets/img/tray.svg") no-repeat;
                    background-size: cover;
                    height:50px;
                }
                
            }
            &__text{
                &-count{
                    font-size:3em;
                    font-family: 'Montserrat';
                    font-weight: 300;
                    color:#fff;
                    text-align: center;
                    margin-bottom: 0cm;
                }
                &-text{
                    text-transform: uppercase;
                    font-family: 'Raleway';
                    font-weight: 500;
                    font-size:0.875em;
                    color:#c7b299;
                    text-align: center;
                    
                }
            }
            &__line{
                align-self: center;
                justify-self: end;
                width: 30%;
                border-width:3px;
                background-color:#fff;
            }
        }
    }
}
.posts{
    margin-left:10%;
    width:80%;
    padding-top:5%;
    &-text{
        margin-left:15%;
        width:70%;
        display: flex;
        flex-direction: column;
        &__head{
            @extend .projects-text__head;
        }
        &__text{
            @extend .projects-text__text;
        }
    }
    &-block{
        height:auto;
        &__image{
            position:relative;
            z-index:-10;
            width:100%;
            visibility:hidden;
            &-1{
                @include back("../assets/img/post1.png");
            }
            &-2{
                @include back("../assets/img/post2.png");
            }
            &-3{
                @include back("../assets/img/post3.png");
            }
        }
        &__date{
            width:15%;
            height:auto;
            position:relative;
            top: -82%;
            left: 5%;
            display:flex;
            flex-direction: column;
            &-day{
                border-radius: 15% 15% 0 0;
                width:100%;
                padding:0 2%;
                background-color: #c7b299;
                color:#fff;
                font-size:1.5em;
                font-family: 'Montserrat';
                font-weight: 300;
                text-align:center;
            }
            &-month{
                border-radius: 0 0 15% 15%;
                width:100%;            
                padding:0 2%;
                background-color: #a48d72;
                color:#fff;
                font-size:1em;
                font-family: 'Montserrat';
                font-weight: 300;
                text-align:center;
            }
        }
        &__text{
            border:1px solid #fbfaf8;
            &-1{
                @extend .projects-block__text-1;
                color:#555;
            }
            &-2{
                @extend .projects-block__text-2;
                margin-top:0;
                color:#8c8c8c;
            }
            &-3{
                margin-left:5%;
                font-size:1em;
                font-family: 'Raleway';
                font-weight: 500; 
                color:#c7b299; 
                text-transform: capitalize;
                span{
                    font-size: 0.8125em;
                }
            }
        }
        &__block:hover &__image{
            &-1,&-2,&-3{
                background-color: rgba(0,0,0,0.5);
                background-blend-mode: multiply;
            }
        }
        &__block:hover &__date{
            &-day{
                background-color: #363636;
            }
            &-month{
                background-color: #252525;
            }
        }
        &__block:hover &__text{
            background-color: #362f2d;
            border:1px solid #362f2d;
            &-1{
                color:#c7b299;
            }
            &-2{
                color:#fff;
            }
        }
    }
}
.partners{
    height:auto;
    width:100%;
    background: url("../assets/img/partners.png") no-repeat;
    background-size: cover;
    background-color: rgba(0,0,0,0.5);
    background-blend-mode: multiply;
    &-block{
        margin-left:15%;
        width:70%;
        &__block{
            height:auto;
            align-items: baseline;
            &-1{
                margin-top:30%;
                background:url("../assets/img/logo1.png") no-repeat;
                background-size: 100% auto;
                width:100%;
                height:400px; 
            }
        }
        &__image{
            &-1,&-2,&-3,&-4{
                width:80%;
                height:auto;
            }
            &-1,&-3{
                margin: 30% 5%;
            }
            &-2{
                margin:15% 5%;
            }
            &-4{
                margin:25% 5%;
            }

        }
    }
}
.footer{
    width:100%;
    height:auto;
    background-color: #191919;
    padding-top:5%;
    &-block{
        width:80%;
        height:auto;
        margin-left:10%;
        &__block{
            height:400px;
        }
        &__logo{
            height:auto;
            margin-bottom:10%;
        }
        &__text{
            font-family: 'Montserrat';
            font-weight: 300;
            font-size: 0.875em;
            color:#555;
            span{
                font-size: 0.75em;
                color: #363636;
                font-family: 'Montserrat';
                font-weight: 300;                
            }
            span[class]{
                color: #00bff3;
                font-family: 'Montserrat';
                font-size: 0.875em;
                font-weight: 300; 
            }
            span[id]{                
                color:#7c7c7c;
                font-family: 'Montserrat';
                font-size: 0.875em;
                font-weight: 300; 
            }
            &-more{
                @extend .footer-block__text;
                color:#fff;
                text-transform: capitalize;
                font-weight: 400;
                margin-top:50px;
                span{
                    font-size: 0.75em;
                }
            }
            &-head{
                font-family: 'Raleway';
                font-weight: 600;
                font-size: 1.5em;
                color:#fff;
                margin-top:4%;
            }
        }
        &__text[id]:hover{
            color:#998675;
            span{
                color: #fff;
            }
        }
        &__line{
            width:100%;
            background-color: #252525;
        }
        &__widgets{
            width:100%;
            display:flex;
            flex-direction: row;
            flex-wrap: wrap;
            &-1{
                width:48%;
                height:auto;
                margin: 0 2% 2% 0;
            }
            &-2{
                width:48%;
                height:auto;
                margin:0 0 2% 2%;
            }
            &-3{
                width:48%;
                height:auto;
                margin:2% 2% 0 0;
            }
            &-4{
                width:48%;
                height:auto;
                margin:2% 0 0 2%;
            }
        }
    }
}
.copyright{
    width:100%;
    background-color: #111;
    &-block{
        width:80%;
        height:auto;
        margin-left:10%;
        &__text{
            font-family: 'Montserrat';
            font-weight: 400;
            font-size: 0.875em;
            margin-top:2.5%;
            margin-bottom:3%;
            color:#555;
            span{
                font-family: 'Montserrat';
                font-weight: 400;
                font-size: 0.875em;
                color: #959595;
            }
        }
    }
}
@font-face {
    font-family: "Montserrat";     
    src: url("/assets/fonts/Montserrat-Light.ttf") format("truetype"); 
    font-style: normal;
    font-weight: 300;
   }
@font-face {
    font-family: "Montserrat";     
    src: url("/assets/fonts/Montserrat-Regular.ttf") format("truetype"); 
    font-style: normal;
    font-weight: 400;
}
@font-face {
    font-family: "Raleway";     
    src: url("/assets/fonts/Raleway-ExtraBold.ttf") format("truetype"); 
    font-style: normal;
    font-weight: 800;
}
@font-face {
    font-family: "Raleway";     
    src: url("/assets/fonts/Raleway-Medium.ttf") format("truetype"); 
    font-style: normal;
    font-weight: 500;
}
@font-face {
    font-family: "Raleway";     
    src: url("/assets/fonts/Raleway-SemiBold.ttf") format("truetype"); 
    font-style: normal;
    font-weight: 600;
}
